<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <meta charset="utf-8" />
  <!-- use the following meta to force IE use its most up to date rendering engine -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="login-layout">
<div class="login-container">
  <div class="center">
    <h1>
      <i class="ace-icon fa fa-leaf green"></i>
      <span class="red">Ace</span>
      <span class="white" id="id-text2">Application</span>
    </h1>
    <h4 class="blue" id="id-company-text">&copy; Company Name</h4>
  </div>
  <div class="space-6"></div><!-- optional space -->
  <%= flash_messages %>
  <%= yield %>
</div>
<%= javascript_include_tag 'application' %>
</body>
</html>
